.main {
  flex: 1;
  overflow: auto;
  padding: 0 32px;
  max-width: 1080px;
  margin: 0 auto;
  scrollbar-width: none;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 64px;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 32px;
}

.technologies {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.company {
  display: flex;
  gap: 16px;
}

.role {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 32px;
}

.role .circle {
  position: absolute;
  top: 25px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--text-color);
}

.company-name {
  padding-left: 16px;
}

.contact {
  display: flex;
  gap: 16px;
  align-items: center;
}

.tenure {
  border-left: 2px solid var(--border-color);
  padding-bottom: 32px;
}

.profile-pic {
  border-radius: 50%;
  border: 2px solid var(--border-color);
}
